<div class="footer flexRow wrap">
  <div class="card flexColumn">
    <span class="cardHeading">Navigation</span>
    <a href="../">Home</a>
    <a href="../consulting/">Consulting</a>
    <a href="../pool/">Pool</a>
    <a href="../gaming/">Gaming</a>
  </div>

  <div class="card flexColumn">
    <span class="cardHeading">Redirects</span>
    <a href="../events/">Events & Tickets</a>
    <a href="" onclick="openDiscord()">Discord Server</a>
  </div>

  <div class="card flexColumn">
    <span class="cardHeading">Legal</span>
    <a href="../imprint/">Impressum</a>
    <a href="../privacy/">Datenschutz</a>
    <a href="../agb/">AGB</a>
  </div>
</div>

<div class="copyright flexColumnCenterCenter">
  <div class="socialIcons flexRowCenter">
    <img
      src="../img/icons/whatsapp.png"
      alt="WhatsApp"
      onclick="openWhatsApp()"
    />
    <img
      src="../img/icons/instagram.png"
      alt="Instagram"
      onclick="openInstagram()"
    />
    <img src="../img/icons/discord.png" alt="Discord" onclick="openDiscord()" />
    <img src="../img/icons/github.png" alt="GitHub" onclick="openGitHub()" />
    <img
      src="../img/icons/mail.png"
      alt="Mail"
      onclick="window.location.href='mailto:info@organicconcepts.de'"
    />
  </div>

  <span>Copyright © 2025 Organic Concepts</span>
</div>
