<div class="footer flexRowCenter">
  <div class="card flexColumn">
    <span class="cardHeading"> Navigation </span>
    <a href="./">Startseite</a>
    <a href="./pool.html">Pool</a>
    <a href="./gaming.html">Gaming</a>
  </div>

  <div class="card flexColumn">
    <span class="cardHeading"> Rechtliches </span>
    <a href="./imprint.html">Impressum</a>
    <a href="./datenschutz.html">Datenschutz</a>
    <a href="./agb.html">AGB</a>
  </div>
</div>

<div class="copyright flexColumnCenterCenter">
  <div class="socialIcons flexRow">
    <img src="./img/icons/instagram.png" alt="" onclick="openInstagram()" />
    <img src="./img/icons/github.png" alt="" />
  </div>

  <span>Copyright © 2025 Organic Concepts</span>
</div>
