<!-- navigation.html -->
<div class="nav flexColumnCenterCenter">
  <div class="container navContainer flexRow">
    <div class="navHeader flexRowBetweenCenter">
      <div class="navLogo flexCenter" onclick="openHome()">
        <img src="../img/logo/OC_Logo_small.svg" alt="" class="autoFit" />
      </div>

      <div class="flexRowCenterCenter">
        <div
          id="NAVLINKBOX-DESKTOP"
          class="navLinkBox navDesktop flexRowCenterCenter"
        >
          <div class="navLink flexCenter" onclick="openPool()">
            <span>Pool</span>
          </div>
          <div class="navLink flexCenter" onclick="openConsulting()">
            <span>Consulting</span>
          </div>
          <div class="navLink flexCenter"><span>Design</span></div>
        </div>

        <div class="navTools flexRow">
          <div class="cartIcon flexCenter" onclick="openCart()">
            <img src="../img/icons/cart.png" alt="Cart Icon" />
            <span id="cart-count" class="cart-badge">0</span>
          </div>

          <div id="HAMBURGER" class="flexCenter hamburger" onclick="openNav()">
            <div>
              <div class="hamburgerPatty"></div>
              <div class="hamburgerPatty"></div>
              <div class="hamburgerPatty"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="NAVLINKBOX-MOBILE"
      class="navLinkBox navMobile flexRowCenterCenter"
    >
      <div class="navLink flexCenter" onclick="openPool()">
        <span>Pool</span>
      </div>
      <div class="navLink flexCenter"><span>Consulting</span></div>
      <div class="navLink flexCenter"><span>Design</span></div>
    </div>
  </div>
</div>
