<!-- Warenkorb Overlay -->
<div id="cartOverlay" class="cart-overlay" onclick="closeCart()"></div>

<!-- Warenkorb Sidebar -->
<div id="cartSidebar" class="cart-sidebar">
  <div class="cart-header">
    <h2 class="cart-title">Warenkorb</h2>
    <button class="cart-close" onclick="closeCart()">✕</button>
  </div>
  <div class="cart-content">
    <p>Dein Warenkorb ist leer.</p>
  </div>
  <div class="cart-footer">
    <button id="requestButton" onclick="showRequestForm()" class="request-btn">
      Anfrage senden
    </button>

    <form id="requestForm" class="request-form" onsubmit="submitRequest(event)">
      <div class="request-header">
        <h2 class="cart-title">Anfrage</h2>
        <button
          type="button"
          class="close-request-form"
          onclick="closeRequestForm()"
        >
          ✕
        </button>
      </div>

      <fieldset>
        <legend>Kontaktdaten</legend>
        <label for="vorname">Vorname</label>
        <input type="text" name="vorname" placeholder="Vorname" required />
        <label for="nachnmame">Nachname</label>
        <input type="text" name="nachname" placeholder="Nachname" required />
        <label for="email">E-Mail</label>
        <input type="email" name="email" placeholder="E-Mail" required />
        <label for="mobil">Mobil</label>
        <input type="tel" name="mobil" placeholder="Mobil" required />
      </fieldset>

      <fieldset>
        <legend>Veranstaltung</legend>
        <label for="date">Datum</label>
        <input type="date" name="date" id="anfragedatum" required />
        <label for="strasse">Straße</label>
        <input type="text" name="strasse" placeholder="Straße" required />
        <label for="hausnr">Hausnummer</label>
        <input type="text" name="hausnr" placeholder="Hausnummer" required />
        <label for="plz">PLZ</label>
        <input
          type="text"
          name="plz"
          placeholder="PLZ"
          pattern="\d{5}"
          required
        />
        <label for="ort">Ort</label>
        <input type="text" name="ort" placeholder="Ort" required />
      </fieldset>

      <button type="submit">Absenden</button>
    </form>
  </div>
</div>
